Vagrant.configure('2') do |config|
    config.vm.box = "{{hostvars[item].image}}"
    config.vm.define "{{hostvars[item].inventory_hostname}}" do |{{hostvars[item].inventory_hostname}}|
    end

    config.vm.network "public_network", bridge: "eth0", mac: "{{hostvars[item].mac}}" , ip: "{{hostvars[item].ansible_host}}", :netmask => "255.255.255.255", auto_config: true
    config.vm.provider :virtualbox do |vb|  
        vb.memory = 1024 * {{hostvars[item].ram}}
        vb.name = "{{hostvars[item].inventory_hostname}}"
        vb.cpus = "{{hostvars[item].cpu}}"
        
        disk_opt = "/var/vagrant/virtualbox/{{hostvars[item].inventory_hostname}}/opt.vdi"

        unless File.exist?(disk_opt)
          vb.customize ['createhd', '--filename', disk_opt, '--variant', 'Fixed', '--size', {{hostvars[item].opt_size}} * 1024]
        end
          vb.customize ['storageattach', :id,  '--storagectl', 'IDE', '--port', 1, '--device', 0, '--type', 'hdd', '--medium', disk_opt]
    end

    config.vm.provision "file", source: "provision.sh", destination: "/tmp/provision.sh", run: "always"
    config.vm.provision "file", source: "route-eth1", destination: "/tmp/route-eth1", run: "always"
    config.vm.provision "file", source: "ifcfg-eth1", destination: "/tmp/ifcfg-eth1",run: "always"
    config.vm.provision "file", source: "/var/vagrant/authorized_keys", destination: "/tmp/authorized_keys", run: "always"

    config.vm.provision "shell",run: "always",inline: "chmod 755 /tmp/provision.sh && /tmp/provision.sh"

end
