Vagrant.configure('2') do |config|
    config.vm.box = "{{hostvars[item].image}}"
    config.vm.define "{{hostvars[item].inventory_hostname}}" do |{{hostvars[item].inventory_hostname}}|
    end
	
	# Setup static ip to have access from your network
    config.vm.network "public_network", bridge: "eth0", mac: "{{hostvars[item].mac}}", ip: "{{hostvars[item].ansible_host}}", auto_config: true

    config.vm.provider :virtualbox do |vb|  
        vb.memory = 1024 * {{hostvars[item].ram}}
        vb.name = "{{hostvars[item].inventory_hostname}}"
        vb.cpus = "{{hostvars[item].cpu}}"
        
        vb.customize ["modifyvm", :id, "--usb", "off"]
        vb.customize ["modifyvm", :id, "--usbehci", "off"]

       # disk_opt = "/var/vagrant/virtualbox/{{hostvars[item].inventory_hostname}}/opt.vdi"
       # unless File.exist?(disk_opt)
       #   vb.customize ['createhd', '--filename', disk_opt, '--variant', 'Fixed', '--size', {{hostvars[item].opt_size}} * 1024]
       # end
       # vb.customize ['storageattach', :id,  '--storagectl', 'IDE', '--port', 1, '--device', 0, '--type', 'hdd', '--medium', disk_opt]
        end

    config.vm.provision "file", source: "/var/vagrant/authorized_keys", destination: "/tmp/authorized_keys", run: "always"
    config.vm.provision "file", source: "provision.sh", destination: "/tmp/provision.sh", run: "always"
    config.vm.provision "shell",run: "always",inline: "chmod 755 /tmp/provision.sh && /tmp/provision.sh"

end
